streamlit
pandas
numpy
joblib
plotly
yfinance
pytz
duckdb
lightgbm
catboost
xgboost
scikit-learn
scipy
transformers
torch
optuna
requests
jugaad-data
feedparser
beautifulsoup4
streamlit-autorefresh
supabase
torchvision